*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: rgb(29, 28, 28);
    text-align: center;


}
ul{
    display: flex;
}
ul li{
    list-style: none; 
    background: rgb(19, 18, 18);
    display: block;
    position: relative;
    font-size: 40px;
    width: 60px;
    height: 60px;
    padding-left: 19px;
    padding-top: 5px;
    padding-right: 18px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
   

    
}
ul li::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: rgb(15, 125, 228);
    border-radius: 50%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scale(0.9);
    transition : .5s;





}
ul li:hover:before{
    transform: scale(1.2);
    box-shadow: 0 0 15px;
    filter: blur(3px);
}
   
    

 


